<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="captain.sever.mapper.TesseractCaptainRelationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="captain.sever.entity.TesseractCaptainRelationLog">
        <id column="id" property="id" />
        <result column="from_entity_id" property="fromEntityId" />
        <result column="from_entity_name" property="fromEntityName" />
        <result column="to_entity_id" property="toEntityId" />
        <result column="to_entity_name" property="toEntityName" />
        <result column="relation_name" property="relationName" />
        <result column="leader_id" property="leaderId" />
        <result column="leader_name" property="leaderName" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, from_entity_id, from_entity_name, to_entity_id, to_entity_name, relation_name, leader_id, leader_name, product_id, product_name, creator, create_time
    </sql>

</mapper>
